:root{
    --timber:#814119;
    --reddish:#e74c3c;
    --reddish-dark:#c72a1e;
    --white:#ffffff;
    --cream:#f6f6ed;
    --green-wp:#25D366;
    --green-wp-dark:#1da850;


    /* button color : C94C36 */
    
    --btn-color:#DD4338;
    --pc-text:16px;
    --phone-text:16px;
    --radius:11px;
    --text-color:#2E1302;
    --a-color:#6F2E04;

}