:root{
    scroll-behavior:auto !important
}
body{
    background:var(--cream);
    font-size:var(--pc-text);
    color:var(--text-color);
}
h1,h2,h3,h4,h5,h6{
    color:var(--reddish);
}
.fix-sidebar{
    position: sticky;
    top:0;
    /*padding:10px;*/
    color:var(--timber)
}
.topbar{
    display:none;
}
#mobile-menu-launcher{
    display:none;
}
.logo{
    display: block;
    max-width:120px;
   
}
.html-error{
    color:red;
    font-size: 14px;
}
.btn{
    border:none;
}
.btn-primary{
    background: var(--btn-color);
}
.btn-primary:hover, .btn-primary:active{
    background: var(--reddish-dark) !important;
}
.btn-primary:disabled{
    background: var(--reddish);
}
.btn-primary:active{
    background: var(--btn-color) !important;
}
input:focus, textarea:focus{
    border:2px solid var(--reddish) !important;
    box-shadow: 0px 0px 5px var(--reddish) !important;
}
.btn-group-temp .btn.active, .btn-group-temp .btn:focus{
    background: var(--timber) !important;
    border:none;
}

.btn-whatsapp {
  background-color: var(--green-wp);
  border-color: var(--green-wp);
  color: white;
}

.btn-whatsapp:hover {
  background-color: var(--green-wp-dark) !important;
  border-color: var(--green-wp-dark) !important;
}

.btn-whatsapp:active{
    background: var(--green-wp-dark) !important;
    border-color: var(--green-wp-dark) !important;
}

.btn-group-temp .btn{
    margin-right:5px;
}
.nav-link{
    font-size: 16px;
    text-transform: uppercase;
    text-align: justify;
    display: block;
    width:100%;
    margin-bottom:5px;
    padding:10px 0px 10px 15px;
}

.nav-link:hover, .nav-link.active, .box{
    background: var(--white);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: var(--radius);
}
.center-text{
    text-align: center;
}
.img-circle{
    border-radius: 250px;
}
.img-rounded{
    border-radius: 15px;
}
.center-image{
    display: block;
    margin:0 auto;
}
.show-pc{
    display: block;
}

.box-title{
    padding:5px 0px 25px 0px;
}
.border-bottom{
    border-bottom:1px solid #dee2e6;
}
.boxed-padding{
    padding:15px 0px 15px 0px;
}
.boxed-padding-plus{
    padding:25px;
}
.person-image img{
    width: 150px;
}
.person-box{
    
}

.carousel__item{
    width:100%;
}
.title-holders-box .carousel__pagination{
    margin-left:-31px;
}
.title-holders-box .carousel__icon{
    position: absolute;
    margin-top:-382px;
}
.cam-holders-box .carousel__icon{
    position: absolute;
    margin-top:-358px;
}
.post-images .carousel__icon{
    position: absolute;
    margin-top:-35px;
}
.hfx-550{
    min-height:550px;
}
a{
    color:var(--a-color);
    text-decoration: none;
}
.logo-phone{
    display: none;
}

.loading{
    animation: placeHolderShimmer 0.8s linear infinite alternate;
}
.padded-box{
    padding:25px;
    padding-bottom:10px;
}
.padded-box h5{
    margin-bottom:20px;
    font-weight:600;
    color:var(--reddish);
}
.btn-group-temp{
    display: inline-block;
}
.dropdown-list{
    list-style-type: none;
}
.dropdown-list li{
    margin-left:15px;
}
.feed-block .post-images img{
    padding-right:5px;
    padding-bottom:5px;
    width:16.66%;
}
.post-text{
    white-space: pre-wrap; 
  word-wrap: break-word;
  font-family: inherit;
}
.single-user-profile-picture img{
    width:120px;
}
.single-user-actions{
   
}
.single-user-content{
    font-size: 18px;
}
.profile-head .profile-cover-image{
    position:relative;
}
.profile-head .profile-cover-image .cover-image{
    width:100%;
}
.profile-head .profile-picture{
    position:absolute;
    bottom:-90px;
    left:20px;
    border-radius: 250px;
    border:4px solid #fff;
    left:50%;
    transform: translateX(-50%);
}
.profile-margin-top{
    margin-top:85px;
}
.profile-head .profile-name{
    font-weight: 600;
    font-size:18px;
}
.margin-center{
    display: block;
    margin:0 auto;
}
.profile-social-links-wrapper{
    width: fit-content;
    display: block;
    margin:0 auto;
}
.profile-social-links{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
.profile-social-links li{
    display: inline-block;
    margin-left:12.5px;
    margin-right:12.5px;

}
.profile-social-links li a{
    display: block;
}
.display-block{
    display:block
}
.show-phone{
    display: none;
}
.profile-nav-links .nav, .profile-nav-links .nav-pills, .profile-nav-links .nav-link{
    padding:0px;
    margin:0px;
    color:var(--timber);
    font-weight:400;
    padding:10px;
}
.profile-nav-links .nav-link:hover, .profile-nav-links .nav-link:focus, .profile-nav-links .nav-link.active{
    background: var(--timber);
    color:var(--white);
}
.userlist.loadinglist{
    padding:20px 20px 5px 20px;
    margin-bottom: 25px;
}
.userlist{
    padding:20px;
    margin-bottom: 25px;
}
.btn-edit-profile{
    position: absolute;
    top:10px;
    right:10px;
}
.table-info td{
    padding-top:10px;
    padding-bottom:10px;
    background: var(--white);
}
.table-info td span{
    padding:0px;
    background: var(--white);
}
.table-info tr{
    border-bottom:1px solid var(--timber);
}
.display-none{
    display:none;
}
.dp-custom-input {
    padding:15px !important;
  }

.post-text a:not(.btn){
    font-weight: 600;
    color:var(--reddish-dark);
}
.pswp img {
    max-width: none;
    object-fit: contain;
}
.profile-cover-image img{
    width:100%;
    margin-left:-5px;
    border-radius: 10px;
}
.profile-picture5 img{
    width:155px;
    display: block;
    
    border-radius: 10px;
    margin-top:-80px;
    margin-left:auto;
    margin-right: auto;
}
.profile-head{
    position: relative;
}
.page-head button{
    position: absolute;
}
.page-head .new_post_btn{
    top:-10px;
    right:-10px;
}
.page-head .email_follow_btn{
    top:-10px;
    left:-10px;
}

@keyframes placeHolderShimmer {
    0% {
      background-color: #f9f9f9;
    }
    100% {
      background-color: #ececec;
    }
  }
